%gt-esti-pro-display-light {
    font-family: "GT-Eesti-Pro-Display-light";
    font-size: 17.5px;
    color: #333333;
}
$black80: #333333;
$black30: #b3b3b3;
$orange: #ff9711;
$purple: #6666ff;
$red: #ff0000;
$grey: #e6e6e6;

$zindex: (
    td-scope-row: 1,
    t-head-fixed: 2
);
